//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//color

//background color
$layoutBg: #f7f7f7;

//font color
$fontColorBasic: #000;
$fontColorPrimary: #000;
$fontColorHover: #333;
$fontColorPoint: #fc5d35;
//border color
$borderColorPrimary: #fc5d35;
$borderColorDark: #665a57;

//button color
$gbtnColor: #fc5d35;
$gbtnColorHover: #e3a936;

//iconbackground color
$iconBg: #dcdcdc;

//table color
$tableColorPrimary: #fc5d35;
